<?php

/**
 * This is the config file for ZfrRest. Just drop this file into your config/autoload folder (don't
 * forget to remove the .dist extension from the file), and configure it as you want
 */

return array(
    'zfr_rest' => array(
        /**
         * The key of the object manager instance. It is retrieved from the service manager. For instance, if you
         * are using Doctrine ORM Module, this value may be "doctrine.entitymanager.orm_default"
         */
        'object_manager' => 'doctrine.entitymanager.orm_default',

        /**
         * FQCN of the Metadata cache provider used for caching the mapping. It must returns an instance of
         * \Metadata\Cache\CacheInterface
         */
        'cache' => '',

        /**
         *
         * Specify the resource metadata drivers. This is used by ZfrRest to extract your mapping. Currently one
         * method is supported: annotations.
         *
         * To add an annotation driver:
         *
         *      'application_driver' => array(
         *          'class' => 'ZfrRest\Resource\Metadata\Driver\AnnotationDriver'
         *      )
         */
        'drivers' => array(),
    )
);
